.App {
  text-align: center;
}
.word-container{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  width: 500px;
  text-align: center;
  margin-left: 400px;
}
.word{
  background-color: azure;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  width: 100px;
  border-radius: 4px;
  text-decoration: none;
 
}
.box{
  width: 300px;
  height: 30px;
}
.phcontainer{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  width: 500px;
  flex-wrap: wrap;
  height: auto;
  margin-left: 400px;
}
.zoomed {
  transform: scale(1.5); 
  transition: transform 0.5s; 
}
.text-mbf{
  font-family:cursive;
  font-size:50px;
  text-align: center;
}